<div class="card flex center-center column">

    <marquee><img class="height-70" src="../../../assets/istockphoto-497566021-612x612.jpg" alt="south african flag"></marquee>
    
    <h1><b>identity Number Details</b></h1>

    <h3><b>Date of Birth :</b> {{data.day}} {{data.month}} {{data.year}}</h3>

    <h3><b>Gender :</b> {{data.gender}}</h3>

    <h3><b>Race :</b> {{data.race}}</h3>

    <h3><b>citizenship :</b> {{data.citizen}}</h3>

    <button mat-raised-button class="width-200" color="accent" (click)="close()">Back</button> 
</div>
