.inner{
    height: 80%;
    width: 80%;
    border: groove 6px purple;
    border-radius: 20px;
    background-color: white;
}
.picture{
    height: 300px;
}
.width-500{
    width: 500px;
}

.width-100{
    width: 100px;
}
.main{
    background-color: purple;
}
